* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#carouselExampleControlsNoTouching .carousel-inner {
    height: 498px;
}

#carouselExampleControlsNoTouching .carousel-item img {
    height: 100%;
    object-fit: cover;
}

.news-container {
    width: 80%;
    margin: auto;
}

.news-item {
    padding: 10px;
    text-align: center;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
}

.news-title {
    font-weight: bold;
    margin-top: 10px;
}

.text_new {
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: bolder;
    color: #2ecc71;
    margin-left: 160px;
    width: 160px;
    border-bottom: solid 2px black;
}

.about_lyceum {
    background-color: #1bd61b;
}

.title_about {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: #d4d4d4;
    font-weight: 600;
}

.about_lyceum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_lyceum .about_desc {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-bottom: 3%;
}

.container123 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
    gap: 100px;
}

.cards {
    width: 30%;
    background-color: #1bd61b;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.cards h2 {
    margin-bottom: 10px;
    color: white;
}

.cards a {
    text-decoration: none;
    color: white;
}


.discover-section {
    padding: 20px;
}

.discover-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.discover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.discover-header h1 {
    color: #2ecc71;
    font-size: 2em;
}

.discover-header a {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
}

.discover-content {
    display: flex;
}

.text-list {
    width: 35%;
    padding-right: 20px;
}

.text-list ul {
    list-style: none;
    padding: 0;
}

.text-list li {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 1.6em;
}

.image-carousel-container {
    width: 65%;
    display: flex;
    align-items: center;
    position: relative;
}

.image-carousel {
    width: 100%;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.image-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #2c3e50;
    cursor: pointer;
    padding: 10px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-btn.prev {
    left: 0;
    z-index: 111;
}

.carousel-btn.next {
    right: 0;
    z-index: 111;
}