{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="2000">
        <div class="carousel-inner">
            {% for banner in banners %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ banner.image.url }}" class="d-block w-100" alt="{{ banner.id }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2 class="text_new">Yangiliklar</h2>
    <div class="news-container slider">
        {% for new in news %}

            <div class="news-item">
                <a href=""><img src="{{ new.image.url }}" alt="Yangilik 1"></a>
                <p class="news-title">{{ new.title }}</p>
                <p>{{ new.date }}</p>
            </div>

        {% endfor %}

    </div>

    <div class="video-container">
        <div class="video">
            <!-- Video -->
            <video id="videoPlayer" class="video" controls>
                <source src="{% static 'main/image/video.MOV' %}" type="video/mp4">
                Sizning brauzeringiz video tag'ini qo‘llab-quvvatlamaydi.
            </video>
        </div>
        <div class="text">
            <!-- Matn -->
            <h5 class="title">Video Sarlavhasi</h5>
            <p class="description">Bu yerda video haqida qo‘shimcha matn bo‘ladi. Videoni tomosha qilishdan keyin
                izohlarni o‘qish mumkin.</p>
            <!-- Play/Pause tugmasi -->
            <button class="button" onclick="toggleVideo()">Play/Pause</button>

            <!-- Container for cards -->
            <div class="container123">
                <div class="cards">
                    <h2>Universitetga tashrif buyuring</h2>
                    <p><a href="#">Biz bilan bog'laning ></a></p>
                </div>
                <div class="cards">
                    <h2>Talabalarimiz safiga qo'shiling</h2>
                    <p><a href="#">Ko'proq</a></p>
                </div>
            </div>
        </div>
    </div>

    <section class="discover-section">
        <div class="discover-container">
            <div class="discover-header">
                <h1>Discover</h1>
                <a href="#">TO`LIQ →</a>
            </div>

            <div class="discover-content">
                <div class="text-list">
                    <ul>
                        <li>• Imkoniyatlar</li>
                        <li>• Masofaviy ta'lim</li>
                        <li>• Talabalar hayoti</li>
                        <li>• Code Craft</li>
                        <li>• Bitiruvchilar hikoyalari</li>
                        <li>• Kibersport</li>
                    </ul>
                </div>

                <div class="image-carousel-container">
                    <button class="carousel-btn prev">&lt;</button>
                    <div class="image-carousel">
                        <div class="image-container">
                            {% for student in students %}
                                <img src="{{ student.image.url }}" alt="Image {{ student.id }}">
                            {% endfor %}
                        </div>
                    </div>
                    <button class="carousel-btn next">&gt;</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}