{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/information_tdtu.css' %}">

    <div class="custom-container">
        <h1 class="custom-title">Toshkent Davlat Texnika Universiteti qoshidagi akademik litsey</h1>
        <p class="custom-description">
            Islom Karimov nomidagi Toshkent davlat texnika universiteti (TDTU) akademik litseyi O’rta maxsus, kasb-hunar
            ta’lim markazining 2004-yil
            17-maydagi 115-sonli buyrug’i bilan tashkil etilgan . Akademik litseyda ta’limaniq fanlar yo’nalishda olib
            boradi. Akademik litsey iqtidorli yoshlarni saralab aniqlash va ularni texnik yo’nalishdagi oliy ta’lim
            muassasalariga kirishga tayyorlashga yo’naltirilgan. So’nggi yillarda akademik litsey bitiruvchilarining
            respublika hamda chet el davlatlarining nufuzli oliygohlariga o’qishga kirish ko’rsatkichi 92.2 % ni tashkil
            etadi.

        </p>

        <div class="custom-image-container">
            <img src="{% static 'main/image/malumot.png' %}" alt="Litsey binosi">
        </div>

        <p class="custom-description">
            Hozirgi kunda akademik litseyda jami 435 nafar o‘quvchi tahsil oladi, ularga 36 nafar asosiy shtatdagi hamda
            10 nafar o‘rindosh o‘qituvchilar ta’lim-tarbiya berib kelmoqda. Jumladan, ularning 5 nafari fan nomzodi, 4
            nafari falsafa doktori, 24 nafari bosh o‘qituvchi, 4 nafari yetakchi o‘qituvchi, 8 nafari katta o‘qituvchi,
            10 nafari mutaxassis toifasidagi o‘qituvchilar hisoblanadi. Akademik litseyning ilmiy salohiyati 19,5% ni
            tashkil etadi.
            Akademik litsey eng zamonaviy jihozlarga ega bo’lgan fizika kimyo, biologiya laborotoriyalariga ega bo’lib
            frontal laborotoriya ishlarini olib borish imkoniyatiga ega 8 ta multimedia tizimi bilan jihozlangan
            auditoriya, 4 ta kompyuter sinflari barcha fanlarni zamonaviy pedagogi texnologiyalar asosida o’tish
            imkonini beradi.
            2022-2023 o‘quv yilida o‘qituvchilarning ilmiy salohiyatini oshirish, ularni ilmiy tadqiqotlarga keng jalb
            etish maqsadida qator ishlar amalga oshirildi. Xususan, 21 nafar o‘qituvchi mintaqaviy markazlarda tashkil
            etilgan malaka oshirish kurslarida o‘qitildi. Akademik litsey o‘qituvchilarining 6 nafari, xususan 2 nafari
            C1 milliy sertifikati, 2 nafari TESOL va 1 nafari rus tili fani bo‘yicha S1 xalqaro sertifikatlariga ega. 7
            nafar o‘qituvchi, jumladan 5 nafar matematika fani o‘qituvchisi hamda 2 nafar fizika fani o‘qituvchisi
            milliy sertifikatlarga ega.
        </p>
    </div>
    <div class="stats-section" style="background-image: url({% static 'main/image/carusel_imge_1.jpg' %})">
        <div class="overlay"></div>
        <div class="stats-container">
            <div class="stat-box"><span>1000+</span>
                <p>Talabalar soni</p></div>
            <div class="stat-box"><span>558+</span>
                <p>Bitiruvchilar soni</p></div>
            <div class="stat-box"><span>83%</span>
                <p>Bitiruvchilarning ish bilan ta’minlanganligi</p></div>
            <div class="stat-box"><span>30+</span>
                <p>Malakali xorijiy professor-o‘qituvchilar soni</p></div>
            <div class="stat-box"><span>250+</span>
                <p>Ilmiy ishlar va patentlar soni</p></div>
            <div class="stat-box"><span>150+</span>
                <p>Taqdim etilgan grantlar soni</p></div>
            <div class="stat-box"><span>80+</span>
                <p>Hamkor tashkilotlar soni</p></div>
            <div class="stat-box"><span>200+</span>
                <p>O‘tkazilgan tadbirlar soni</p></div>
        </div>
    </div>
    <div class="custom-container">
        <h2 class="custom-subtitle">TA'LIM YO'NALISHLARI</h2>
    </div>
    <div class="news-container slider">
        {% for foo in department %}
            <div class="custom-card">
                <img src="{{ foo.image.url }}" alt="{{ foo.id }}" class="custom-card-img">
                <div class="custom-card-body">
                    <h3 class="custom-card-title">{{ foo.title }}</h3>
                    <p class="custom-card-text">{{ foo.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
