{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/information_tdtu.css' %}">

    <div class="custom-container">
        <h1 class="custom-title">Toshkent Davlat Texnika Universiteti qoshidagi akademik litsey</h1>
        <p class="custom-description">
            Toshkent Davlat Texnika Universiteti (TDTU) qoshidagi Akademik Litsey 1993-yilda tashkil etilgan bo‘lib,
            yuqori sifatli ta’lim berishga ixtisoslashgan. Litsey bitiruvchilarining 90% dan ortig‘i respublika va
            xorijdagi nufuzli oliy ta’lim muassasalariga qabul qilinadi.
        </p>

        <div class="custom-image-container">
            <img src="{% static 'main/image/malumot.png' %}" alt="Litsey binosi">
        </div>
    </div>
    <div class="stats-section" style="background-image: url({% static 'main/image/carusel_imge_1.jpg' %})">
        <div class="overlay"></div>
        <div class="stats-container">
            <div class="stat-box"><span>1000+</span>
                <p>Talabalar soni</p></div>
            <div class="stat-box"><span>558+</span>
                <p>Bitiruvchilar soni</p></div>
            <div class="stat-box"><span>83%</span>
                <p>Bitiruvchilarning ish bilan ta’minlanganligi</p></div>
            <div class="stat-box"><span>30+</span>
                <p>Malakali xorijiy professor-o‘qituvchilar soni</p></div>
            <div class="stat-box"><span>250+</span>
                <p>Ilmiy ishlar va patentlar soni</p></div>
            <div class="stat-box"><span>150+</span>
                <p>Taqdim etilgan grantlar soni</p></div>
            <div class="stat-box"><span>80+</span>
                <p>Hamkor tashkilotlar soni</p></div>
            <div class="stat-box"><span>200+</span>
                <p>O‘tkazilgan tadbirlar soni</p></div>
        </div>
    </div>
    <div class="custom-container">
        <h2 class="custom-subtitle">TA'LIM YO'NALISHLARI</h2>
    </div>
    <div class="news-container slider">
        {% for foo in department %}
            <div class="custom-card">
                <img src="{{ foo.image.url }}" alt="{{ foo.id }}" class="custom-card-img">
                <div class="custom-card-body">
                    <h3 class="custom-card-title">{{ foo.title }}</h3>
                    <p class="custom-card-text">{{ foo.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
