{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/news.css' %}">

    <div class="container mt-5 mb-5">
        <div class="row">
            {% for new in news %}
                <div class="col-md-3 mb-5">
                <div class="card bg-green" style="width: 18rem">
                    <img src="{{ new.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">{{ new.title }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="text-align: center">
        <a style="color: #1e1f22;text-decoration: none" href=""><h1>ko'proq ></h1></a>
    </div>
{% endblock %}