{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/news_detail.css' %}">

    <div class="container">
        <div class="row ">
            <h1 class="title_h1">{{ news.title }}</h1>
            <p>POSTED ON    {{ news.date|date:"H:i" }}</p>
            <img src="{{ news.image.url }}" alt="{{ news.id }}" class="photo_1 col-md-6">
            <div class="col-6">
                <h2>{{ news.title }}</h2>
                <p class="col-md-6 desk">{{ news.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}