{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/news_detail.css' %}">

    <div class="container">
        <div class="row ">
            <h1 class="title_h1">🌙Eid al-Fitr Mubarak!</h1>
            <p>POSTED ON </p>
            <img src="{% static 'main/image/photo_5.jpg' %}" alt="" class="photo_1 col-md-6">
            <div class="col-6">
                <h2>Bu yerda matn bo'ladi...</h2>
                <p class="col-md-6 desk">Bu yerda matn bo'ladi...</p>
            </div>
        </div>
    </div>
{% endblock %}